#fee-box {
    margin: 5% 10%;
    height: 400px;
    width: 600px;
    background-color: #eaf7f4;
    border-radius: 6px;
}

#fee-heading {
    display: flex;
    justify-content: center;
    padding: 30px;
    font-size: 24px;
    font-weight: 500;
    text-decoration: underline;
    text-underline-offset: 2px;
}

#fee-details {
    display: flex;
    flex-direction: column;
    margin: 15px 40px;
    font-size: 16px;
}

#fee-details p {
    margin: 5px 0;
}

#fee-details p span {
    font-weight: 500;
}

#fee-breakdown {
    line-height: 25px;
}

.payment-button {

    background-color: #309034;
    border: none; 
    color: white; 
    padding: 10px 20px; 
    font-size: 16px;
    font-weight: 500;
    margin: 4px 2px; 
    cursor: pointer; 
    border-radius: 6px; 
    transition-duration: 0.4s; 
}

.payment-button:hover {
    background-color: white; 
    color: #309034; 
    box-shadow: 0 3px 4px 0 rgba(0,0,0,0.4), 0 4px 8px 0 rgba(0,0,0,0.4);
}

.payment-button:active {
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.4), 0 0 0 0 rgba(0,0,0,0.4);
}

#payment-div {
    display: flex;
    justify-content: flex-end;
    margin: 40px;
}