#spot-heading {
    margin: 45px 0 0 50px;
    font-size: 32px;
    font-weight: 700;
}

#spot-divs {
    display: flex;
    margin-left: 40px;

}

.spotlight-div {
    height: 170px;
    width: 230px;
    background-color: #F5F5DC;
    margin: 15px 30px;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    transition: box-shadow 0.2s ease, transform 0.2s ease;
}

.spotlight-div:hover {
    scale: 1.01;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.6), 0 2px 5px rgba(0, 0, 0, 0.6);
    transform: scale(1.03);
}

.spotlight-div:active {
    scale: 1;
}

.spotlight-head {
    background-color: #016B90;
    color: white;
    padding: 14px 0 6px 0;
    border-radius: 6px 6px 0 0;
    text-align: center;
}

.spotlight-img {
    display: flex;
    height: 80%;
    justify-content: center;
    align-items: center;
}

.spotlight-img img {
    height: 80px;
}