#Login-Container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:
        linear-gradient(to left, rgba(229, 234, 255, 0.2) 50%, rgb(231, 235, 255) 95%),
        url('../assets/Login-BG.jpg');
    background-size: 100% 100%;
}

#login-logo {
    border-radius: 5px;
    height: 62px;
    position: absolute;
    top: 15px;
    left: 25px;
}

.Login-Wrapper {
    display: flex;
    border-radius: 12px;
    background-color: #ffffff;
    box-shadow: 0 10px 30px #4c4c4c;
}

#Side-Frame {
    margin: 25px 12.5px 25px 25px;
    width: 350px;
    height: 500px;
    position: relative;
}

#sideframe-img {
    width: 350px;
    height: 500px;
    border-radius: 5px;
}

.sideframe-label {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    font-size: 26px;
    font-weight: 700;
    align-items: center;
    bottom: 35px;
    text-shadow: 2px 3px 7px rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    transform: skew(-20deg);
}

.auth-main {
    background: linear-gradient(to bottom, #c4d2ec, #09275a);
    margin: 25px 25px 25px 12.5px;
    width: 350px;
    height: 500px;
    overflow: hidden;
    border-radius: 5px 5px 0 0;
}

#auth-toggle {
    display: none;
}

.auth-login-form {
    position: relative;
    width: 100%;
    height: 100%;
}

.auth-instructions {
    position: relative;
    width: 100%;
    height: 200px;
}

.auth-login-form label,
.auth-instructions label {
    color: #fff;
    font-size: 40px;
    justify-content: center;
    display: flex;
    font-weight: 700;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.auth-login-form label {
    margin: 40px;
}

.auth-instructions label {
    margin: 40px;
    padding-top: 30px;
    text-decoration: underline;
}

.auth-login-form input{
    width: 75%;
    height: 35px;
    background: #ffffff;
    justify-content: center;
    display: flex;
    margin: 20px auto;
    padding: 12px;
    border: none;
    outline: none;
    border-radius: 5px;
}

.auth-login-form button{
    width: 75%;
    height: 40px;
    margin: 10px auto;
    justify-content: center;
    display: block;
    color: #fff;
    background: #021a49;
    font-size: 17px;
    font-weight: bold;
    margin-top: 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: 0.2s ease-in;
    cursor: pointer;
}

.auth-login-form button:hover,
.auth-instructions button:hover {
    background: #0a237c;
}

.auth-instructions {
    height: 460px;
    background: #f4f6ff;
    border-radius: 60% / 10%;
    transform: translateY(-200px);
    transition: 0.8s ease-in-out;
}

.auth-instructions label {
    color: #3b5998;
    transform: scale(0.6);
}

#auth-toggle:checked~.auth-instructions {
    transform: translateY(-470px);
}

#auth-toggle:checked~.auth-instructions label {
    transform: scale(0.8);
    text-decoration: none;
}

#auth-toggle:checked~.auth-login-form label {
    transform: scale(0.7);
    text-decoration: underline;
}