@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    font-family: "Inter", sans-serif;
}

.link-tag {
    text-decoration: none;
    color: inherit;
}

.loading-div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 17px;
    font-weight: 500;
}